﻿@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <fieldset>
            <legend>Agregar Nodo</legend>
            <label>
                Nombre :<input type="text" id="textNewNode" />
            </label>
            <a class="btn-info btn" id="btnAddNode">Agregar</a>
        </fieldset>
      
    </div>
    <div class="col-md-4">
        <fieldset>
            <legend>Agregar Arista</legend>
            <label>
                De :<input type="text" id="textNewEdge" />
            </label>
            <label>
                A :<input type="text" id="textNewEdgeTwo" />
            </label>
            <a class="btn-info btn" id="btnAddEdge">Agregar</a>
        </fieldset>

    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div id="canvas" style="width: 100%;height: 500px"></div>
    </div>

</div>
@section scripts
{
    <script src="~/Scripts/CreateGraph/DrawGraffle.js"></script>
    <script src="~/Scripts/CreateGraph/ActionsDrawGraffle.js"></script>
    <script>
        $(document).ready(function () {
            drawGraph.init('canvas');

            actionDrawGraph.Init(
                {
                    AddNoteClick: '#btnAddNode',
                    AddNoteText: '#textNewNode',
                    AddEdgeClick: '#btnAddEdge',
                    AddEdgeText: '#textNewEdge',
                    AddEdgeTextTwo: '#textNewEdgeTwo'
                }
                );
            actionDrawGraph.InitControls();
        });
    </script>
}
